.social-btn {
    border-radius: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px !important;
    padding: 6px;
    color: #6EC1E4;
}